/* GENERAL SETTINGS */
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body  {
    font-family: 'Myriad Pro';
    margin: 0;
}

/* HEADER - Top Bar */
.content-frame {
    max-width: 1200px;
    margin: 0 auto;
}

.header-topbar {
    padding: 24px 0 19px 0;
}

/* Top Bar - Logo */
.topbar-logo-box {
    float: left;
}

.topbar-icon-box {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #5094f2;
    text-align: center;
    display: inline-block;
}

.icon-box-img {
    margin: 13px 12px;
}

.topbar-logo-text {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    font-size: 42px;
    letter-spacing: 0.42px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* Top Bar - Menu */
.topbar-menu-box {
    float: right;
}

.topbar-menu {
    list-style-type: none;
}

.topbar-menu-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.topbar-menu-item:last-child {
    margin: 0;
}

.clearfix {
    clear: both;
}

.topbar-menu-item-link {
    color: #6c6c6c;
    letter-spacing: 0.2px;
    padding-bottom: 33px;
}

.topbar-menu-item-link:hover {
    border-bottom: 2px solid #5094f2;
}

/* for HEADER Top Bar Menu Links and MAIN Items Links */
.style-links {
    font-size: 20px;
    text-decoration: none;
    transition: all ease 0.5s;
}

.style-links:hover {
    color: #5094f2;
}

/* HEADER - Banner */
.header-banner {
    background-image: url('../img/bg-image-clear.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 38px 0 16px 0;
    text-align: center;
}

.banner-text-box {
    display: inline-block;
    vertical-align: top;
    margin-left: 104px;
    width: 392px;
    text-align: left;
    margin-top: 115px;
}

.banner-text {
    color: #ffffff;
    font-size: 26px;
    line-height: 44.42px;
    margin: 0;
    padding: 0;
}

.banner-text-line {
    color: #ffffff;
    font-size: 42px;
    line-height: 45px;
}

.banner-link-box {
    display: inline-block;
    padding: 12px 11px 9px 23px;
    background-color: #5094f2;
    border-radius: 3px;
    margin: 36px 0 0 12px;
}

/* Banner sign up link */
.icon-box {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.link-box {
    display: inline-block;
    vertical-align: baseline;
}

.link {
    font-size: 22px;
    text-decoration: none;
    transition: all ease 0.5s;
    color: #fff;
}

.link:hover {
    color: #6c6c6c;
}

/* MAIN - Items Section*/
.main {
    padding: 57px 0 50px 0;
}

.item-box {
    text-align: center;
}

.item {
    display: inline-block;
    vertical-align: top;
    width: 248px;
}

.item:nth-child(2) {
    margin: 0 134px;
}

.item-icon-box {
    width: 186px;
    height: 186px;
    background-color: #5094f2;
    border-radius: 50%;
    display: inline-block;
}

.icon-box-02 {
    background-color: #d94748;
}

.icon-box-03 {
    background-color:#ebbb11;
}

.icon-box-pic {
    margin: 39px 54px;
}

.icon-pic-02 {
    margin: 52px 45px;
}

.icon-pic-03 {
    margin: 48px 46px;
}

.item-img {
    display: block;
    margin: 0 auto;
}

.item-text-box {
    text-align: center;
    margin-top: 28px;
}

.item-link {
    font-size: 20px;
    line-height: 44.42px;
    color: #5094f2;
    text-decoration: none;
}

.item-text {
    font-size: 14px;
    color: #909090;
    margin: 0;
}

/* MAIN - Shopping Section */
/* MAIN - Shopping Section - Cart */
.shopping-box {
    margin-top: 94px;
}

.cart-box {
    float: left;
    margin-left: 45px;
    width: 371px;
    text-align: center;
}

.cart-title {
    font-size: 42px;
    line-height: 44.42px;
    color: #6f7173;
    margin-bottom: 35px;
    margin-left: 54px;
}

/* MAIN - Shopping Section - Text */
.bullet-text-box {
    float: right;
    width: 451px;
    margin-right: 75px;
    margin-top: 16px;
}

.bullet-title {
    font-size: 26px;
    line-height: 44.42px;
    color: #6f7173;
    margin: 0;
}

.bullet-text {
    font-size: 15px;
    line-height: 30px;
    color: #909090;
}

/* FOOTER */
.footer {
    padding: 34px 0 45px 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.footer-copyrights {
    font-size: 15px;
    line-height: 36px;
    color: #909090;
}