/* GENERAL SETTINGS */
@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/MyriadPro-Regular.eot');
    src: url('fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/MyriadPro-Regular.woff2') format('woff2'),
         url('fonts/MyriadPro-Regular.woff') format('woff'),
         url('fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body  {
    font-family: 'Myriad Pro';
}

/* HEADER - Top Bar */
.content-frame {
    max-width: 80%;
    margin: 0 auto;
}

.topbar-logo-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
